*{
    margin: 0;
    padding: 0;
}
body{ 
    
    background:url('../Img/background1.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    height:auto;
    
  
}


.text{
    
    max-width: 800px;
    margin:auto;
    height: 99vh;
    padding-top:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
p{
font-size:35px;
color:orange;
font-family:sar-sarif;

}
