*{
    margin: 0;
    padding: 0;
}
body{ 
    
    background:url('../Img/background1.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    height:auto;
    
  
}


.text{
    
   text-align:center;

}
p ,h1 , h2{
font-size:25px;
color:white;
font-family:sar-sarif;

}
h1 , h2 , strong{
    color: black;
}
h1{
    font-size: 50px;
}

